<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		{{! <link rel="stylesheet" href="../../public/style/main.css" /> }}
		<link href="https://cdn.jsdelivr.net/npm/daisyui@2.50.0/dist/full.css" rel="stylesheet" type="text/css" />
		<script src="https://cdn.tailwindcss.com"></script>
		<title>GameTrack</title>
	</head>
	<header>
		<nav>
			<div class="navbar bg-grey-100 shadow-xl">
				<div class="flex-1">
					<a class="btn btn-ghost normal-case text-4xl" href="/">GameTrack</a>
				</div>
				<div class="flex-none gap-2">
					<div class="form-control">
						<input type="text" placeholder="Search" class="input input-bordered" />
					</div>
					<div class="dropdown dropdown-end">
						<label tabindex="0" class="btn btn-ghost btn-circle avatar">
							<div class="w-10 rounded-full">
								<img src="" />
							</div>
						</label>
						<ul tabindex="0" class="mt-3 p-2 shadow menu menu-compact dropdown-content bg-base-100 rounded-box w-52">
							{{#if loggedIn}}
								<li>
									<a class="justify-between" href="/user/reviews">Profile<span class="badge">Reviews</span>
									</a>
								</li>
								<li>
									<a href="/user/wishlist">Wishlist</a>
								</li>
								<li>
									<a>Logout</a>
								</li>
							{{else}}
								<li>
									<a href="/user/login">Login</a>
								</li>
							{{/if}}
						</ul>
					</div>
				</div>
			</div>
		</nav>
	</header>
	<br />
	<br />
	<body class="">
		{{{body}}}
		<script src="/js/index.js"></script>
	</body>


</html>