 <div class="container">
        <h1 class="reset">Enter Email for reset password link</h1>
        <div class="formmessage formmessage--error"></div>
        <div class="forminput-group">
            <input type="text" class="forminput" autofocus placeholder="Email">
        </div>
        <div class="forminput-group">
        </div>
        <button class="btn btn-primary">Continue</button>
        <p class="formtext">
            <a  href="./signup.handlebars" class="link link-primary">Don't have an account? Create account</a>

        </p>
    </form>