<main class="flex place-content-center">
	<div class="card w-96 bg-neutral shadow-xl">
		<div class="card-body">
			<h1 class="card-title">Enter Email for reset password link</h1>
			<div class="formmessage formmessage--error"></div>
			<div class="forminput-group">
				<input type="text" class="forminput" autofocus placeholder="Email" />
			</div>
			<div class="forminput-group">
			</div>
			<button class="btn btn-primary">Continue</button>
			<p class="formtext">
				<a href="/user/signup" class="link link-primary">Don't have an account? Create account</a>
			</p>
		</div>
	</div>
</main>