<div class="container">
    <!--put action of what server to load into-->
    <form action="" method="post" class="form" id="login">
        <h1 class="logintitle">Login</h1>
        <div class="formmessage formmessage--error"></div>
        <div class="forminput-group">
            <input type="text" class="forminput" autofocus placeholder="Username or email">
            <div class="forminput-error-message"></div>
        </div>
        <div class="forminput-group">
            <input type="password" class="forminput" autofocus placeholder="Password">
            <div class="form__input-error-message"></div>
        </div>
        <button class="form__button" type="submit">Continue</button>
        <p class="formtext">
            <a href="#" class="formlink">Forgot your password?</a>
        </p>
        <p class="logintext">
            <a class="signuplink" href="./signup.handlebars" id="linkCreateAccount">Don't have an account? Create account</a>
        </p>
    </form>
    