<main class="flex place-content-center">
	<div class="card w-96 bg-neutral shadow-xl">
		<div id="login" class="card-body">
			<h2 class="card-title">Login</h2>
			<div class="form_input-group">
				<input id="username" type="text" class="forminput" autofocus placeholder="Username" />
			</div>
			<div class="form_input-group">
				<input id="password" type="password" class="forminput" autofocus placeholder="Password" />
			</div>
			<button id="continue" class="btn btn-primary">Continue</button>
			<p class="formtext">
				<a href="/user/forgot-password" class="link link-primary">Forgot password?</a>
			</p>
			<p class="formtext">
				<a href="/user/signup" class="link link-primary">Don't have an account?</a>
			</p>
		</div>
	</div>
</main>

<script src="/js/login.js"></script>