 <!--put action of what server to load into-->
    <form action="" method="post" class="form form--hidden" id="createAccount">
        <h1 class="formtitle">Create Account</h1>
        <div class="formmessage formmessage--error"></div>
        <div class="forminput-group">
            <input type="text" id="signupUsername" class="form__input" autofocus placeholder="Username">
            <div class="forminput-error-message"></div>
        </div>
        <div class="forminput-group">
            <input type="text" class="forminput" autofocus placeholder="Email Address">
            <div class="forminput-error-message"></div>
        </div>
        <div class="forminput-group">
            <input type="password" class="forminput" autofocus placeholder="Password">
            <div class="forminput-error-message"></div>
        </div>
        <div class="forminput-group">
            <input type="password" class="forminput" autofocus placeholder="Confirm password">
            <div class="forminput-error-message"></div>
        </div>
        <button class="formbutton" type="submit">Continue</button>
        <p class="formtext">
            <a class="formlink" href="./login.handelbars" id="linkLogin">Already have an account? Sign in</a>
        </p>
    </form>