<main>
	<h2 class="text-lg px-6">Reviews by User</h2>
    {{#each userReviews as |review|}}
	<div class="card card-side bg-base-100 shadow-xl m-5">
		<figure><img src="https://images.igdb.com/igdb/image/upload/t_cover_big/co1r77.jpg" alt="Movie" /></figure>
		<div class="card-body">
			<h2 class="card-title">Your review for {{review}} posted on [created_at]</h2>
			<p>Review content. This game is amazing. Haven't played it yet.</p>
			<div class="card-actions justify-end">
				<button class="btn btn-primary">Edit</button>
			</div>
		</div>
	</div>
</main>