{{#each plainWishlist as |list|}}
	<div class="card" style="width: 18rem;">
		<img class="card-img-top" src="..." alt="Game Cover Art" />
		<div class="card-body">
			<h5 class="card-title">{{list.game_id}}</h5>
			<p class="card-text">Short Summary from Game</p>
			<a href="#" class="btn btn-primary">{{list.user_id}}</a>
		</div>
	</div>
{{/each}}